<div style="max-width:600px;  direction: ltr; " class="main_html date__2016_08_13___05_37 ui-sortable"> 
    <div class="html wisestamp_app main_sig ui-sortable-handle" id="tp1s" style="max-width: 470px;margin: 8px 8px 8px 0;"> 
        <table border="0" cellspacing="0" cellpadding="0" width="470" style="width: 470px;"> 
            <tbody>
                <tr valign="top"> 
                    <td style="padding-left:10px; width: 10px; padding-right:10px;"> 
                        <img src="https://github.com/robotforest/email.signature.io/blob/master/avatar/2017.github.png?raw=true" width="65" height="65" alt="photo" style="filter:grayscale(0%);border-radius:10%;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius: 10%;width:65px;height:65px;max-width: 120px;">
                    </td> 
                    <td style="border-right: 1px solid #999999;"></td> 
                    <td style="text-align:initial; font:12px Helvetica;color:#000000;padding:0 10px"> 
        <!-- name -->
        
<!-- START LINE 1&2 -->        
                        <div> 
                            <!-- name -->
                            <b class="text-color theme-font">Rix Woodling</b>
                            <br> 
                            <!-- job titles -->
                            <span>animation / creative management</span> 
                        </div>
<!-- END LINE 1&2 -->
        
<!-- START LINE 3 -->
                        <div style="color:#000000;font-size:10px;padding:0px 0"> 
                            <!-- telephone -->
                            <a href="tel:+1.415.274.0172" style="color:#000000;text-decoration: none;">+1.415.274.0172</a>  
                            <!-- \ -->
                            <span style="color: #999999;display:inline-block;">\</span> 
                            <!-- telephone2 -->
                            <span style="display:inline-block;">
                                <a href="tel:+886.903635253" style="color:#000000;text-decoration: none;">+886.903635253</a>
                            </span>  
                            <!-- \ -->
                            <span style="color: #999999;display:inline-block;">\</span> 
                            <!-- website -->
                            <span style="white-space: nowrap;display:inline-block;">
                                <a href="http://rixwoodling.ninja" target="_blank" style="color:#ff6200;font-size:12px;text-decoration: none;">rixwoodling.ninja</a>
                            </span> 
                        </div>
<!-- END LINE 3 -->        

<!-- START SOCIAL LINKS -->                
                        <div style="margin-top: 5px">
                            <!-- linkedin -->
                            <a href="https://www.linkedin.com/in/rixwoodling/" target="_blank">
                                <img style="opacity:1;border-radius:10%;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border: 0;width:16px; height:16px;" width="16" height="16" src="https://github.com/robotforest/email.signature.io/blob/master/icons/linkedin.png?raw=true"></a>
                            <!-- twitter -->
                            <a href="http://twitter.com/rixwoodling" target="_blank">
                                <img style="opacity:1;border-radius:10%;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border: 0;width:16px; height:16px;" width="16" height="16" src="https://github.com/robotforest/email.signature.io/blob/master/icons/twitter.png?raw=true"></a>
                            <!-- behance -->
                            <a href="http://behance.net/rixwoodling" target="_blank">
                                <img style="opacity:1;border-radius:10%;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border: 0;width:16px; height:16px;" width="16" height="16" src="https://github.com/robotforest/email.signature.io/blob/master/icons/behance.png?raw=true"></a>
                            <!-- vimeo -->
                            <a href="http://vimeo.com/rixwoodling" target="_blank">
                                <img style="opacity:1;border-radius:10%;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border: 0;width:16px; height:16px;" width="16" height="16" src="https://github.com/robotforest/email.signature.io/blob/master/icons/vimeo.png?raw=true"></a>
                            <!-- github -->
                            <a href="http://github.com/rixwoodling" target="_blank">
                                <img style="opacity:1;border-radius:10%;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border: 0;width:16px; height:16px;" width="16" height="16" src="https://github.com/robotforest/email.signature.io/blob/master/icons/github.png?raw=true"></a>
                            <!-- soundcloud -->
                            <a href="https://soundcloud.com/kungfu_sidekick" target="_blank">
                                <img style="opacity:1;border-radius:10%;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border: 0;width:16px; height:16px;" width="16" height="16" src="https://github.com/robotforest/email.signature.io/blob/master/icons/soundcloud.png?raw=true"></a>
                            <!-- steam -->
                            <a href="http://steamcommunity.com/id/kungfu_sidekick/" target="_blank">
                                <img style="opacity:1;border-radius:10%;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border: 0;width:16px; height:16px;" width="16" height="16" src="https://github.com/robotforest/email.signature.io/blob/master/icons/steam.png?raw=true"></a>
                        </div> 
                    </td> 
                </tr> 
            </tbody>
        </table>
    </div>
</div>
